
@{
    ViewData["Title"] = "Resume";
}

<h2>Boston Knighton-Johnson</h2>

<div style="display: inline-block">
    <h3>Technical Skills:</h3>

    <table>
        <tr>
            <td>- Python</td>
            <td>- HTML/CSS</td>
        </tr>

        <tr>
            <td>- Java</td>
            <td>- Git/Source Control</td>
        </tr>

        <tr>
            <td>- Python</td>
            <td>- HTML/CSS</td>
        </tr>

        <tr>
            <td>- Bash/Shell</td>
            <td>- IT Support</td>
        </tr>

        <tr>
            <td>- Agile Workflow</td>
            <td>- Customer Service</td>
        </tr>
    </table>
</div>

<div style="display: inline-block">
    <h3>Contact Information</h3>
    <table>
        <tr>
            <td>Phone: 651.468.6073</td>
        </tr>

        <tr>
            <td>Email: bostonkj.bkj@gmail.com</td>
        </tr>

        <tr>
            <td>Secondary: bak45247@bethel.edu</td>
        </tr>

        <tr>
            <td>Address: 5808 Olinger Rd<br />&emsp;&emsp;&emsp;&emsp; Minneapolis, MN 55436</td>
        </tr>
    </table>
</div>
